python-dateutil==2.9.0
﻿joblib==1.5.1
keras==3.10.0
numpy==1.26.4
pandas==2.3.0
pillow==11.2.1
scikit-learn==1.7.0
scipy==1.15.3
streamlit==1.46.0
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
